/* Fonte da navbar  */
@font-face {
    font-family: 'glacial';
    src: url("public/assets/glacial-indifference/GlacialIndifference-Regular.otf") format(opentype);
    font-weight: normal;
}

/* Ajustes gerais */
body {
    margin: 0;
    padding: 0;
}

.header {
    background: #0A5C6C;
    font-family: 'glacial';

}

.header .container {
    width: 80%;
    margin: auto;
}

/* Formatação da navbar para alinhar os itens */
.header .navbar {
    display: grid;
    grid-template-columns: 1 1 1;
    color: #F1FAFF;

}

a{
    text-decoration: none;
}

.div_esquerda {
    width: 546.4px;
    grid-column: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 25px;
}


.div_centro {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_direita {
    width: 546.4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 3;
}

/* Logo Lumus: */
.header img {
    width: 140px;
}

/* HomePage */

.div_home {

    background: #3F949C;
    height: 2000px;
    display: grid;
    grid-template-rows: 1 1;
    align-items: flex-start;
}

/* Primeira parte */
.div_home .container {
    grid-row: 1 ;
    display: grid;
    grid-template-columns: 1 1;
    grid-template-rows: 3;
    margin: 0 10px 0;
    height: 300px;
    width: 1300px;
}

.div_home .container .lema_lumus {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.lema_lumus img {
    height: 600px;
    width: 600px;
}

.lema_lumus button{
    position: absolute;
    width: 130px;
    height: 55px;
    background-color: #F1FAFF;
    color: #000000;
    font-size: 15px;
    border-radius: 38%;
    align-self: flex-end;
}


.div_home .container .imagem_home {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.imagem_home img{
    width: 600px;
    height: 600px;
}

/* Seção de valores */
.div_valores{
    grid-row: 2;
    margin: 0 15px 20px;
    height: 600px;
    width: 1300px;

}

.boxes_valores{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
}

.boxes_valores .box{

    width: 900px;
    height: 300px;
    background-color: rgb(184, 241, 243);
    border-radius: 10%;
    padding: 15px;
    margin: 10px 10px;
    font-size: 15px;
}

