@font-face{
    font-family: 'glacial' ;
    src: url("public/assets/glacial-indifference/GlacialIndifference-Regular.otf") format(opentype);
    font-weight: normal;
}

body{
    margin: 0;
}

.header{
    background: #3F949C;
    border: #F1FAFF;
    font-family: 'glacial';
    
}

.header .container{
    width: 80%;
    margin: auto;
    
}


.header .navbar{
    display: grid;
    grid-template-columns: 1 1 1;
    color: #F1FAFF;
}

.div_esquerda{
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .item_esquerda{
    margin-left: 25px;
    margin-right: 5px;
}

.div_centro{
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_direita{
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_direita{
    margin-right: 25px;
}

.header img{
    
    width: 140px;
    order:2;
}



.div_home {
    
background: #3F949C;
height: 500px;
    
}

.imagem_fundo h4{
    align-items: flex-end;
}

