*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'glacial' ;
    src: url("public/assets/glacial-indifference/GlacialIndifference-Regular.otf") format(opentype);
    font-weight: normal;
}

a{
    color: #f1faff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
.logo{
     width: 140px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'glacial';
    background:  #0A5C6C;
    height: 15vh;
}

.navbar li{
    list-style: none;
    letter-spacing: 3px;
    margin-left: 32px;
    cursor: pointer;

}

.navbar_menu .linha1 {
    width: 32px;
    height: 2px;
    background-color: #f1faff;
    margin: 8px;
    cursor: pointer;
}
.navbar_menu .linha2 {
    width: 32px;
    height: 2px;
    background-color: #f1faff;
    margin: 8px;
    cursor: pointer;
}
.navbar_menu .linha3 {
    width: 32px;
    height: 2px;
    background-color: #f1faff;
    margin: 8px;
    cursor: pointer;
}
@media(max-width: 999px){
    .navbar li{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 58vw;
        height: 92vh;
        background: #0A5C6C;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 0;
        opacity: 0;
        
    }
   
}


.div_home {
    
    background: #3F949C;
    height: 500px;
}    
