/* Fonte da navbar  */
@font-face {
    font-family: 'roboto';
    src: url("public/assets/fonts/Roboto/Roboto-Regular.ttf") format(opentype);
    font-weight: normal;
}

@font-face {
    font-family: 'exo';
    src: url("public/assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf") format(opentype);
    font-weight: normal;
}

/* Ajustes gerais */

body::-webkit-scrollbar {
    width: 12px;               /* largura da scroll */
}

body::-webkit-scrollbar-track {
    background: #0A5C6C;        /* cor da área de trás da scroll */
}

body::-webkit-scrollbar-thumb {
    background-color: #F0CA05;    /* cor da barra móvel da scroll */
    border-radius: 20px;       /* borda arredondada */
    border: 3px solid #3F949C;  /* padding */
}

::selection {
    background-color: #F0CA05;
    color: white;
}


body {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}

.header {
    background: #0A5C6C;
    font-family: 'roboto';

}

.header .container {
    width: 80%;
    margin: auto;
}

/* Formatação da navbar para alinhar os itens */
.header .navbar {
    display: grid;
    grid-template-columns: 1 1 1;
    color: #F1FAFF;
}

.div_esquerda {
    width: 546.4px;
    grid-column: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 25px;
}


.div_centro {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_direita {
    width: 546.4px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 3;
}

/* Logo Lumus: */
.header img {
    width: 140px;
}

/* Começo calculadora */

.div_home {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3F949C;
    height: 750px;

}

h1 {
    font-family: 'exo';
    color: #f0ca05;
}


.container .card {
    display: flex;
    align-items: center;

}

.card_login {
    width: 360px;
    height: 330px;
    background-color: #0A5C6C;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: #5c5c5c;
}

.campo span {
    color: white;
    align-items: right;
    padding: 3%;


}

.campo input {
    display: flex;
    justify-content: center;
    width: 260px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    padding: 0% 5%;
    font-style: italic;
}

.forms h1 {
    grid-row: 1;

}

.botao {
    font-family: 'roboto';
    cursor: pointer;
    align-items: center;
    border: 0;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #3F949C;
    width: 100px;
    height: 30px;

}

.imagem_login img {
    height: 500px;
    width: 500px;
}

.imagem_login {
    display: flex;
}

.card_cadastro {
    width: 800px;
    height: 520px;
    background-color: #0A5C6C;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #5c5c5c;
}


/* Começo calculadora */

.div_home_calculadora {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #3F949C;
    height: 100vh;

}

.card_calculadora {
    width: 1000px;
    height: 520px;
    display: flex;
    background-color: #0A5C6C;
    border-radius: 20px;
    align-items: center;
    justify-content: center;


}

.formulario_calculadora{
    height: 100%;
}

.formulario_calculadora h1 {
    grid-row: 1;
    text-align: center;
    justify-content: center;
    color: #f0ca05;
}

.subtitulo{
    color:#F1FAFF ;
}

.formulario_calculadora input {
    display: flex;
    justify-content: left;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    padding: 0% 5%;
    font-style: italic;
    margin: 5px 0 8px 0;
    background-color: rgb(242, 250, 170);
}

.formulario_calculadora select {
    display: flex;
    width: 160px;
    height: 30px;
    border-radius: 20px;
    border-style: none;
    outline: none;
    padding: 0% 4%;
    font-style: italic;
    margin: 5px 0 8px 0;
    background-color: rgb(242, 252, 170);
}

.container .card_calculadora {
    display: flex;
    align-items: center;
    text-justify: auto;

}

.formulario_calculadora .div_itens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 5px;
    color:#F1FAFF

}

.imagem_calculadora img {
    width: 183.2px;
    height: 377.38px;
    margin-right: 40px;
}

.botao_calculadora {
    font-family: 'roboto';
    cursor: pointer;
    align-items: center;
    border: 0;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    background-color: #3F949C;
    width: 100px;
    height: 30px;

}

.span_texto {
    margin-top: 5px;
}


.div_resultado {
    width: 1000px;
    height: 520px;
    border-radius: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 23px;

    background-color: #fafcc9;
    position: fixed;
    opacity: 0.95;
    border: #f0ca05 4px solid;
    text-align: justify;
    top: 90px
}

#div_informacao{
    height: 100%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.divisaoResultado{
    margin: 10px 24px;
    font-size: 19px;
    line-height: 2;
}

#botao_fechar{
    width: auto;
    position: absolute;
    top: 20px;
    left: 950px;
    
}

#botao_fechar img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.container_calculadora {
    align-items: end;
    display: block;
    justify-content: center;
    margin-top: 20px;

}

.img_calc {
    display: flex;

}

.elementos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 300px;
}

#div_validacao_login {
    width: 120px;
}


.forms {
    display: grid;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 700px;
    grid-template-rows: auto;
}

.formulario_1 {
    grid-row: 2;
}

.formulario_2 {
    grid-row: 2;
}

#validacao {
    grid-row: 3;
    width: 200px;
    height: 50px;
}

/* Footer */

footer {
    background-color: #0A5C6C;
    color: #fff;
    text-align: center;
    padding: 20px 20px 0 20px;
    height: 250px;
    
}


#contatos {
    margin: 0 40px;
    display: flex;
    height: 220px;
    justify-content: space-between;

}

#contatos h2 {
    font-size: 40px;
    color: #fff;
    text-align: left;

}

#contatos h3 {
    color: #fff;
    text-align: left;

}

#contatos span {
    color: #d0b30b;
 
}

#contatos a {
    color: #fff;
    text-decoration: none;
    margin: 12px 0;
}

#contatos a:hover {
    text-decoration: underline;
}

#data-atual {
    font-size: 12px;
    text-align: right;
}

#VoltarAoTopo button{
    background-color: #F0CA05;
    color: #F1FAFF;
    margin: 110px 0 30px 0;
    width: 150px;
    height: 45px;
    color: #F1FAFF;
    font-size: 15px;
    font-family: 'roboto';
    cursor: pointer;
    border-radius: 20px;
}

#data-atual {
    margin: 0 20px;
   color: #d1c1c1;
}

#contatos2 {
    text-align: left;
    display: flex;
    align-items: end;
    position: relative;
    
    color: #d1c1c1;
    font-size: smaller;
}

#links {
display: flex;
align-items: center;
justify-content: center;
width: 400px;
height: auto;
justify-content: space-evenly;
font-size: 18px;

}

#coluna_direita {
    
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
}

#coluna_esquerda {

    display: flex;
    flex-direction: column;
}

a img {
    width: 20px;
    margin: 0 10px;
}
